{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changes" {:file "CHANGELOG.md"}]
                   ["Introduction" {:file "doc/introduction.md"}]
                   ["API design" {:file "doc/api-design.md"}]
                   ["Session" {:file "doc/session.md"}]
                   ["Context" {:file "doc/context.md"}]
                   ["Using the library" {:file "doc/using-the-library.md"}]
                   ["REPL story" {:file "doc/repl-story.md"}]
                   ["Migration Guides" [["2025-11-25 Migration" {:file "doc/MIGRATION-2025-11-25.md"}]
                                        ["2025-06-18 Migration" {:file "MIGRATION-2025-06-18.md"}]]]]}
