{:paths ["src"]
 :deps {io.github.b12n-oss/mcp-tkx {:local/root "../.."}}
 :aliases {:dev {:extra-deps {org.clojure/clojure       {:mvn/version "1.12.4"}
                              org.clojure/clojurescript {:mvn/version "1.12.134"}}}
           ;; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                      :main-opts  ["-m" "antq.core"]}}}
